<div class="blog-footer">
    <p>build for<a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>, modify by <a href="http://weibo.com/virgots">@liuyiyou</a> and <a href='/about.html'>EbenZhang.</p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ BASE_PATH }}/js/ie10-viewport-bug-workaround.js"></script>

