<nav class="navbar navbar-inverse navbar-fixed-top" id='main-nav' role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="{{ BASE_PATH }}/logo.png" title='Home'>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/PReviewer.html">
              <img alt='PReviewer Icon' src='http://raw.githubusercontent.com/EbenZhang/PReviewer/master/PReviewer/PReviewer.ico' width='20' />
              PReviewer</a></li>
            <li><a href="/DbRestorer.html"><img alt='DbRestorer Icon' src='http://raw.githubusercontent.com/EbenZhang/DbRestorer/master/DBRestorer/dbrestorer.ico' width='20' />DbRestorer</a></li>
            <li>
                <a href="/KumoVideo.html"><img alt='kumovideo icon' src='http://lh4.ggpht.com/adgiks6ftVFmLS3IAP7K1D7VoSS_2D3-zU2gjJ5EJbfWTjSKlfEfzYQfCin-XRb0wdc=w20'/>KumoVideo</a>
            </li>
            <li><a href="/WaFuelFuel.html"><img alt='kumovideo icon' src='http://lh6.ggpht.com/RAL8BFnHYHOuAgG5tdOwRRbCc7H5XEpjzS7xNGo9fUgTS603cydjfbTArsZrnI47cg=w20'/>WaFuelFuel</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="{{'/categories.html'}}">Categories</a></li>
        <li class="divider"></li>
        <li><a  href="{{'/tags.html'}}">Tags</a></li>
        <li class="divider"></li>
        <li><a href="{{ '/archive.html' }}">Archives</a></li>
        <li class="divider"></li>
        <li><a href="{{ '/about.html' }}">About</a></li>
        <li class="divider"></li>
        <li><a href="{{ '/contact.html' }}">Contact</a></li>
        <li>
          <div class='gsc-container'>
           <gcse:searchbox-only></gcse:searchbox-only>
          </div>
         </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
(function() {
  var cx = '{{ site.googleCSECX }}';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
  '//www.google.com/cse/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
