<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
    {% include navbar.html %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <header class="col-sm-12">
                    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                </header>
                <div class='col-sm-12'>
                    <div class='col-sm-10'>
                        {% assign post = page %}
                        {% include post_cate_tags.html %}
                    </div>
                    <div class='col-sm-2'>
                        <span class="blog-post-meta">{{ post.date |date: "%d-%m-%Y"}}</span>
                    </div>
                </div>
                <article class="col-sm-12">{{ content }}</article>
                <ul class="pager col-sm-12">
                    {% if page.previous %}
                    <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Prev</a></li>
                    {% else %}
                    <li class="previous disabled"><a href="#">&larr; Prev</a></li>
                    {% endif %}
                    {% if page.next %}
                    <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
                    {% else %}
                    <li class="next disabled"><a href="#">Next &rarr;</a></li>
                    {% endif %}
                </ul>
                <div class='col-sm-12'>{% include comments.html %}</div>
            </div><!-- /.blog-main -->
            {% include sidebar.html %}
        </div><!-- /.row -->

    </div><!-- /.container -->
    {% include  footer.html %}

    {% include prettify_js.html %}

    {% include sideToolbar.html %}
</body>
</html>